<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!---->
    <meta name="description" content="Minify  is a cloud diary for developers. To keep track of their work flow, document their errors, share their solutions and grow their network."/>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">


    <meta property="og:type" content= "website" />
    <meta property="og:url" content="https://minify.tech/"/>
    <meta property="og:site_name" content="Minify" />
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:domain" content="minify.tech"/>
    <meta name="twitter:title" property="og:title" itemprop="name" content="Minify - Where Developers Learn, document, &amp; share" />
    <meta name="twitter:description" property="og:description" itemprop="description" content="Minify | Cloud diary for Developers" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    {% load static %} {% load account socialaccount %} {% load widget_tweaks %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Minify | Cloud diary for developers</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{% url 'generic' %}">Minify</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Why use it?<span class="sr-only"></span
              ></a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Explore
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <span style="font-family:'Lucida Console', monospace; opacity: 0.5;" class="dropdown-item">Learn, document & share</span>
                <a class="dropdown-item" href="/general">Mini-Notes</a>
                <a class="dropdown-item" href="/general">Q&A</a>
                <a class="dropdown-item" href="/general">Community blog & guide</a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/general">Check out our community</a>

              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search Minify"
              aria-label="Search"
            />
          </form>
          <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'account_login' %}">
            Sign in
          </a>
          &nbsp; &nbsp;
          <a class="btn btn-outline-light my-2 my-sm-0" href="{% url 'account_signup' %}">
            Sign up
          </a>
        </div>
      </div>
    </nav>
    <div class="wrapper">
      <div class="coders-background"></div>
      <div class="containter main-overlay">
        <div class="row">
          <div class="col-sm-6 wrapper-1half">
            <div class="wrapper-text-container">
              <h1>
                <b>A tool built for developers</b>
              </h1>
              <h5>
                <i>
                  Minify is a cloud diary, built for developers to keep track of
                  their workflow journey. You can now store your codebase,
                  boilerplates, errors & solutions history online. Minify also
                  allows you to share your solutions, discoveries, and problems
                  with a larger community.
                </i>
                <br />
                <br />

                - Olamigoke Philip
              </h5>
              <div class="text-center mobile-signup">
                <br />
                <a
                  class="btn btn-success btn-lg"
                  href="{% url 'account_signup' %}"
                >
                  Sign up for Minify
              </a>
              <br/>
              <br/>
              <a style="color: inherit;" href="https://minify.tech/accounts/github/login/?process=login"><i class="fab fa-github fa-2x"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 m-auto wrapper-2half">
            <div class="card card-body mt-5">
              <div style="list-style: none;"class="text-center">
                Don't have an account? Sign in with: <br> {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </div>
              <br>
              <p class="text-center">Or <b>Sign up</b> below.</p>
              <form method="POST" action="{% url 'account_signup' %}">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                  <label class="custom-small-bold">Username</label>
                  {% render_field form.username class="form-control" type="username" %}                  
                  <br />
                  <label class="custom-small-bold">Email address</label>
                  {% render_field form.email class="form-control" type="email" %}                  

                  <br />
                  <label class="custom-small-bold">Password</label>
                  {% render_field form.password class="form-control" type="password" %}                  

                </div>
                <br />
                <div class="text-center">
                  <button  type="submit" class="btn btn-success btn-lg">
                    Sign up for Minify
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <script
      src="https://kit.fontawesome.com/c8c9028de4.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/base.js' %}"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer>
    <div class="text-center footer">
      <a href="https://github.com/AnclaTechs/minify"
        ><b>Contribute on github </b>
        &nbsp;
        <b style="padding-top: -10px"><i class="fab fa-github fa-2x"></i></b
      ></a>
    </div>
  </footer>
</html>
