{% extends "generic.html" %}{% load i18n %} {% load static %} 
{% block head_title %}{% trans "Ask a new question" %}{% endblock %} {% block parent %}
<!-- Load TinyMCE from CDN -->
<script src="//cdn.tinymce.com/4/tinymce.js"></script>

<!-- Set preference of what should be visible on init -->
<script>
  tinymce.init({
    selector: "#textarea",
    height: 200,
    theme: "modern",
    plugins: [
      "advlist autolink lists link image charmap print preview hr anchor pagebreak",
      "searchreplace wordcount visualblocks visualchars code fullscreen",
      "insertdatetime media nonbreaking save table contextmenu directionality",
      "emoticons template paste textcolor colorpicker textpattern imagetools codesample toc"
    ],
    toolbar1:
      "undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
    toolbar2:
      "print preview media | forecolor backcolor emoticons | codesample",
    image_advtab: true,
    templates: [
      { title: "Test template 1", content: "Test 1" },
      { title: "Test template 2", content: "Test 2" }
    ],
    content_css: [
      "//fonts.googleapis.com/css?family=Lato:300,300i,400,400i",
      "//www.tinymce.com/css/codepen.min.css"
    ]
  });
</script>

<div class="container">
  <div class="text-center">
    <h1>Ask a new question</h1>

    <form>
      <div class="form-group">
        <label>Title</label>
        <input
          id="qTitle"
          type="text"
          placeholder="New Question"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Question</label>
        <input type="textarea" id="textarea" />
      </div>

      <br /><br />

      <button onclick="tinymceAction()" class="btn btn-primary" type="button">
        Submit
      </button>
    </form>
  </div>
</div>

<script type="text/javascript">
  const tinymceAction = function() {
    const title = document.querySelector("#qTitle").value;
    const question = tinyMCE.activeEditor.getContent();

    if (
      title == "" ||
      question == "" ||
      title.length <= 10 ||
      question.length < 10
    ) {
      alert("Invalid Queston Format");
    } else {
      $.post("/newQuestion/", { title: title, question: question }, function(
        data
      ) {
        window.location.href = data.url;
      });
    }
  };
</script>
{% endblock parent %}
