<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </head>
  <body>
    <div class="col-md-6 m-auto main">
      <div class="card card-body mt-5 shadow">
        <div class="text-center">
          <div class="alert-body">
            <p>
              <strong
                ><a href="https://minify.tech{{ sender }}"
                  >@{{ sender }}</a
                ></strong
              >
              sent you a note.
            </p>
            <div>
              <table width="100%" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0">
                      <tr>
                        <td style="border-radius: 2px;" bgcolor="#0275d8">
                          <a
                            href="https://minify.tech/{{ link }}"
                            target="_blank"
                            style="padding: 8px 12px; border: 1px solid #0275d8;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;"
                          >
                            View Note
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <br/>
          <br/>

          <p class="footer"
            >regards,<br /><a href="https://minify.tech">Minify.tech</a></p
          >
        </div>
      </div>
    </div>
  </body>
</html>
