{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}

<div class="container">
  <div style="padding-top: 10px">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="card card-body mt-5">
          <div class="text-center">
			<h1>{% trans "Social Network Login Failure" %}</h1>

			<p>{% trans "An error occurred while attempting to login via your social network account." %}</p>

		</div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
