{% extends "genericB.html" %} {% load i18n %} {% load static %} {% block extra_head_tags %}<meta name="description" content="{{ note.title.capitalize }} - Minify"/>{% endblock %} {% load widget_tweaks %}
<br />
{% block head_title %}{% trans note.title %}{% endblock %}
{% block parent %}
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-1.12.0.min.js"
></script>

<link rel="stylesheet" href="{% static 'css/note.css' %}" />
<div class="container">
  <div class="text-center title-board">
    <h4 class="note-title "> <span style="float: left;"><a class="note-more" onclick="dropDown()" href="javascript:void(0)">:::</a></span> {{ note.title }} </h4>
  
    <div id="noteDropdown" class="dropdown-content">
      <a href="javascript:void(0)"><i class="fas fa-share-alt"></i> Share</a>
      <a href="javascript:void(0)"><i class="fas fa-edit"></i> Edit</a>
      <a href="javascript:void(0)"><img style="max-width: 25px" src="{% static 'images/compare2.png' %}" > Compare</a>
      <a href="javascript:void(0)"><i class="fas fa-file-pdf"></i> Export</a>
      <a href="javascript:void(0)"><i class="fas fa-trash-alt"></i> Delete </a>
    </div>
  </div>
  
  <hr />
  <p id="noteBody" class="note-body"></p>
  <p id="noteLinks"></p>
  <br />
  <br />
  <div class="text-center">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#shareNoteModal">
      <i class="fas fa-share-alt"></i> Share
    </button>
    &nbsp;
    <a
      href="/editnote/{{ note.id }}/{{ note.slug }}"
      class="btn btn-success btn-lg"
    >
      <i class="fas fa-edit"></i> Edit
    </a>
  </div>
  <br />
  <br />
  <br />
</div>

<!--Share Note Query Modal -->
<div class="modal fade" id="shareNoteModal" tabindex="-1" role="dialog" aria-labelledby="shareNoteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Share Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" id="receiver-id" placeholder="Enter receivers username or email address" class="form-control">
            <br/>
            <p style="display: none;" id="cofirmation-message" class="text-center">Click Confirm to Share Note with: <b  style="color: green;"id="confirmation-id"></b></p>
            <p style="display: none;" id="error-message" class="text-center">No user identifiable with <b style="color: red;" id="error-id"></b></p>
            <p style="display: none;" id="success-message" class="text-center">Success! Now sharing Note with <b style="color: green;" id="success-id"></b></p>
            <p style="display: none;" id="backend-error" class="text-center"></p>



          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button disabled onclick="ProceedFunc()" type="button" id="proceedButton" class="btn btn-primary">Proceed

        <div
        hidden="hidden"
        id="proceed-spinner"
        class="spinner-grow"
        role="status"
        style="vertical-align: middle;"
      >
        <span class="sr-only">Loading...</span>
      </div>

        </button>
        <button style="display: none;" onclick="ConfirmFunc()" type="button" id="confirmButton" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script>
  const body = String(`{{ note.note }}`);
  let noteBody = document.getElementById("noteBody");
  function htmlUnescape(body) {
    return body
      .replace(/&quot;/g, '"')
      .replace(/&#39;/g, "'")
      .replace(/&lt;/g, "<")
      .replace(/&gt;/g, ">")
      .replace(/&amp;/g, "&");
  }
  const bodyToHtml = $("<textarea/>")
    .html(body)
    .text();

  $("#noteBody").append(bodyToHtml);
</script>
<script>
  let link = "{{ note.links }}";
  const links = link.split(",");
  let noteLinks = document.getElementById("noteLinks");
  for (var i = 0; i < links.length; i++) {
    noteLinks.innerHTML += `<i class="fas fa-link"></i> &nbsp;`;
    let child = document.createElement("a");
    child.setAttribute("href", `${links[i]}`);
    child.setAttribute("target", "_")
    child.textContent = links[i];
    noteLinks.appendChild(child);
    noteLinks.innerHTML += ", <br/>";
  }
</script>
<script type="text/javascript">
  $("#receiver-id").on("keyup", function() {
    var textLength = $("#receiver-id").val();
    var btn = document.querySelector("#proceedButton");
    if (textLength.length >= 1) {
      btn.removeAttribute("disabled");
    } else {
      btn.setAttribute("disabled", "true");
    }
  });
</script>

<script type="text/javascript">
  
  function dropDown() {
  document.getElementById("noteDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.note-more')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<script type="text/javascript">
  const ProceedFunc = function(){
    document.querySelector("#receiver-id").setAttribute("readonly", "true")
    document.querySelector("#success-message").setAttribute("style", "display: none")
    document.querySelector("#backend-error").setAttribute("style", "display: none")
    document.querySelector("#proceed-spinner").removeAttribute("hidden");
    var usernameEmail = $("#receiver-id").val();
    $.post('/minify-actions/confirm-user-to-share', { usernameEmail: usernameEmail}, function(data){
      if(data.queryStatus == "success"){
        document.querySelector("#proceedButton").setAttribute("style", "display: none")
        document.querySelector("#confirmation-id").innerHTML = `@${data.username}`
        document.querySelector("#error-message").setAttribute("style", "display: none")
        document.querySelector("#cofirmation-message").setAttribute("style", "display: inline")
        document.querySelector("#confirmButton").setAttribute("style", "display: inline");
      }else{
        document.querySelector("#receiver-id").removeAttribute("readonly")
        document.querySelector("#proceed-spinner").setAttribute("hidden", "true");
        document.querySelector("#error-id").innerHTML = usernameEmail
        document.querySelector("#cofirmation-message").setAttribute("style", "display: none")
        document.querySelector("#error-message").setAttribute("style", "display: inline")

      }
    })
  }

  const ConfirmFunc = function(){
    const noteId = "{{ note.id }}"
    const usernameEmail = $("#receiver-id").val();
    $.post('/minify-actions/share-note', { usernameEmail: usernameEmail, noteId: noteId }, function(data){
      if(data.requestStatus == "success"){
        document.querySelector("#success-id").innerHTML = usernameEmail
        document.querySelector("#cofirmation-message").setAttribute("style", "display: none")
        document.querySelector("#success-message").setAttribute("style", "display: inline")
        document.querySelector("#confirmButton").setAttribute("style", "display: none");
        document.querySelector("#proceedButton").setAttribute("style", "display: inline")
        document.querySelector("#receiver-id").removeAttribute("readonly")
        document.querySelector("#proceed-spinner").setAttribute("hidden", "true"); 
      }
      else{
        document.querySelector("#backend-error").innerHTML = data.requestStatus
        document.querySelector("#cofirmation-message").setAttribute("style", "display: none")
        document.querySelector("#backend-error").setAttribute("style", "display: inline")
        document.querySelector("#confirmButton").setAttribute("style", "display: none");
        document.querySelector("#proceedButton").setAttribute("style", "display: inline")
        document.querySelector("#receiver-id").removeAttribute("readonly")
        document.querySelector("#proceed-spinner").setAttribute("hidden", "true"); 
      }
    })
  }
</script>
{% endblock parent %}
